<settings>

	<GlobalSettings>
		<serverURL>http://192.168.10.111:8000</serverURL>
	</GlobalSettings>
	
	
	<InspectionProfile>
	
		<testProfile profileType="test">
			<lowerThreshold>0</lowerThreshold>
			<upperThreshold>50</upperThreshold>
			<sizeMin>100</sizeMin>
			<sizeMax>3000</sizeMax>
			<circularityMin>.7</circularityMin>
			<circularityMax>1</circularityMax>
			<distance>1</distance>
			<known>1</known>
			<pixel>1</pixel>
			<enterMin>0</enterMin>
			<enterMax>5000</enterMax>
			<exitMin>40</exitMin>
			<exitMax>50</exitMax>
			<blackBackground>false</blackBackground>
			<holeCount>10</holeCount>
			<submitAddress>"/jsonsubmit"</submitAddress>
		</testProfile>
		
		<testProfile2 profileType="SophionMH">
			<lowerThreshold>0</lowerThreshold>
			<upperThreshold>105</upperThreshold>
			<sizeMin>10</sizeMin>
			<sizeMax>700</sizeMax>
			<circularityMin>.5</circularityMin>
			<circularityMax>1</circularityMax>
			<distance>1</distance>
			<known>1</known>
			<pixel>1</pixel>
			<enterMin>0</enterMin>
			<enterMax>5000</enterMax>
			<exitMin>0</exitMin>
			<exitMax>5000</exitMax>
			<blackBackground>false</blackBackground>
			<holeCount>5</holeCount>
			<submitAddress>/jsonsubmit</submitAddress>

		</testProfile2>
		
		
		
		<SophionMH profileType="SophionMH">
			<lowerThreshold>0</lowerThreshold>
			<upperThreshold>69</upperThreshold>
			<sizeMin>0</sizeMin>
			<sizeMax>1</sizeMax>
			<circularityMin>0.5</circularityMin>
			<circularityMax>1</circularityMax>
			<distance>1</distance>
			<known>1</known>
			<pixel>1</pixel>
			<enterMin>40</enterMin>
			<enterMax>50</enterMax>
			<exitMin>40</exitMin>
			<exitMax>50</exitMax>
			<blackBackground>true</blackBackground>
			<holeCount>5</holeCount>
			<submitAddress>"/jsonsubmit"</submitAddress>


		</SophionMH>
		
	</InspectionProfile>
	
</settings>